.editPage .shade {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.editPage .pic {
  width: 100%;
}
.editPage .title {
  font-size: 25px;
}
.editPage .details {
  text-align: center;
}
.editPage .ingredients {
  margin-bottom: 10px;
  font-size: 15px;
}
.editPage .noborder {
  border: none;
}
.editPage .procedure > hr {
  width: 85%;
}
.editPage .allCells {
  padding-left: 8px;
  padding-right: 8px;
}
.editPage .cell {
  padding-left: 7px;
  padding-right: 7px;
}

.editPage .cellSize {
  font-size: 24px;
  padding: 0px;
}
.editPage .glyphicon-remove-sign {
  font-size: 30px;
  color: red;
}
.editPage .addbutton {
  margin: 10px;
}
.editPage .m {
  margin-top: 5px;
  margin-bottom: 5px;
}
.editPage .input-group{
  padding: 0px;
}
.editPage .remove {
  margin-top: 0px;
}
.editPage .remove > a {
  text-decoration: none;
  font-size: xx-large;
  color: red;
}
.editPage .err {
  color: red;
}
.cursor-pointer {
  cursor: pointer;
}
