.homePage .rightArrow {
  width: 20px;
  height: 20px;
  display: block;
  margin-right: 20px;
  cursor: pointer;
  position: absolute;
  right: 0;
  z-index: 9;
}

.homePage .leftArrow {
  width: 20px;
  height: 20px;
  display: block;
  margin-left: 20px;
  z-index: 9;
  position: absolute;
  cursor: pointer;
  left: 0;
}
.homePage .pic {
  background-size: cover;
  height: 100%;
}
.homePage .layer {
  text-align: center;
  height: inherit;
  color: black;
}
.homePage .details {
  padding-top: 25px;
  font-size: 15px;
  color: lightgray;
}
.homePage .title > h2 {
    display: inline;
    height: inherit;
    line-height: 500px;
    margin-bottom: 25px;
    margin-top: 0px;
}
.homePage .title {
    margin-top: -41px;
}
