.viewPage .shade {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.viewPage .pic {
  width: 100%;
}
.viewPage .title {
  font-size: 25px;
}
.viewPage .details {
  text-align: center;
}
.viewPage .ingredients {
  margin-bottom: 10px;
  font-size: 15px;
}
.viewPage .noborder {
  border: none;
}
.viewPage .procedure > hr {
  width: 85%;
}
