extends layout

block content
  #react-root
    //- The following content is replaced by React <App />
    style @keyframes spin{0%{stroke-dasharray:150.6 100.4;stroke-dashoffset:0}50%{stroke-dasharray:1 250;stroke-dashoffset:251px}100%{stroke-dasharray:150.6 100.4;stroke-dashoffset:502px}}
    div(style="display:flex;flex-direction:column;align-items:center;justify-content:center;height:90vh;font-family:-apple-system,system-ui,BlinkMacSystemFont,\"Segoe UI\",Roboto,\"Helvetica Neue\",Arial,sans-serif;")
      h1(style="font-weight:300")
        | ReactRecipes
      svg(viewBox="0 0 100 100", preserveAspectRatio="xMidYMid" style="max-width:20vw;max-height:96px")
        circle(cx="50", cy="50", r="40", stroke="#1b2426", fill="none", stroke-width="10", stroke-linecap="round")
        circle(style="animation:spin 2s linear infinite" cx="50", cy="50", r="40", stroke="#dfba48", fill="none", stroke-width="6", stroke-linecap="round")
      noscript
        p(style="color:red") Please enable JavaScript

  if ( production )
    script#manifest(type="application/json")!=webpackManifest
  else
    script(src=`/js/vendor.js`)
  script(src=`/js/${entry}`)
