doctype html
html(lang="en-US")

  head
    meta(charset="utf-8")
    title ReactRecipes
    meta(name="viewport" content="width=device-width,initial-scale=1,user-scalable=no")
    meta(name="theme-color" content="#1b2426")
    meta(name="application-name" content="ReactRecipes")
    //-
      meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black")
    meta(name="apple-mobile-web-app-title" content="ReactRecipes")
    meta(name="apple-touch-icon" sizes="180x180" content="/img/fav/apple-touch-icon.png")
    meta(name="mask-icon" content="/svg/safari-pinned-tab.svg" color="#1b2426")
    meta(name="msapplication-TileImage" content="/img/fav/144x144.png")
    meta(name="msapplication-TileColor" content="#1b2426")
    link(rel="shortcut icon" href="/img/fav/favicon-16x16.png")
    link(rel="icon" type="image/png" href="/img/fav/favicon-16x16.png" sizes="16x16")
    link(rel="icon" type="image/png" href="/img/fav/favicon-32x32.png" sizes="32x32")
    link(rel="manifest" href="/manifest.json")
  body
    block content
